<div class="max-w-5xl mx-auto relative py-16 lg:pt-12 lg:pb-32">
    <article class="content">
        <h1 class="mb-1">{{ title }}</h1>
        <p class="font-medium text-lg text-teal uppercase">{{ subtitle }}</p>
        {{ content }} 
    </article>
</div>

<div class="max-w-5xl mx-auto mb-32">
    {{ collection:news limit="6" as="news" }}
        {{ if no_results }}
            <h2 class="text-3xl italic tracking-tight">Nothing here</h2>
        {{ /if }}

        <span class="text-4xl font-bold mb-8 block">Blogs about my trip</span>
        <div class="flex flex-wrap max-w-5xl mx-auto relative border-green-200 border-y-4 py-8">
            {{ news }}
            <div class="lg:w-1/3 sm:w-1/2 py-4">
                <div class="bg-white border border-1 border-gray-300 mx-2 ">
                    {{ if featured_image }}
                        <a href="{{ url }}">
                            {{ glide :src="featured_image" width="600" height="330" fit="crop"}}
                                <img class="mb-2" src="{{ url }}" width="{{ width }}" height="{{ height }}">
                            {{ /glide }}
                        </a>    
                    {{ /if  }}
                    <a href="{{ url }}" class="h-24 inline-block p-4 uppercase text-lg underline tracking-tight leading-tight font-bold">{{ title | widont }}</a>
                <span class="p-4 mt-4 block">{{ date format="F jS, Y" }}</span>
                </div>
            </div>
            {{ /news }}
            <p class="mx-2"><a class="underline" href="/news/"">See all the blogs</a></p>
        </div>
    {{ /collection:news }}
    
</div>
