<div class="max-w-5xl mx-auto relative mt-8 content">
    <article class="py-8 max-w-5xl mx-auto">
        <header class="max-w-xl content">
            <h1 class="mb-4">Sponsors</h1>
        </header>

        <h2 class="pl-2">Golden Shoe Sponsor</h2>
        <div>
             <div class="block mr-4">
                {{ collection:sponsors taxonomy:sponsor_level="golden-shoe" }}
                    {{ logo }}
                    <a target="_blank" href="{{ sponsor_url }}"><img class="squiggle" src="{{ url }}" alt="{{ alt }}" /></a>
                    {{ /logo }}
                    <span class="inline-block my-4"><a href="{{ sponsor_url }}">{{ subtitle }}</a></span>
                    {{ content }}
                {{ /collection:sponsors }}
            </div>
        </div>

        <h2>Silver Shoe Sponsors</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
            {{ collection:sponsors taxonomy:sponsor_level="silver-shoe" }}
                <div>
                    {{ logo }}
                    <a target="_blank" href="{{ sponsor_url }}"><img class="squiggle" src="{{ url }}" alt="{{ alt }}" /></a>
                    {{ /logo }}
                    <span class="inline-block my-4"><a href="{{ sponsor_url }}">{{ subtitle }}</a></span>
                    {{ content }}
                </div>
            {{ /collection:sponsors }}
        </div>

        <h2>Bronze Shoe Sponsors</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ collection:sponsors taxonomy:sponsor_level="bronze-shoe" }}
                <div>
                {{ logo }}
                <a target="_blank" href="{{ sponsor_url }}"><img class="squiggle" src="{{ url }}" alt="{{ alt }}" /></a>
                {{ /logo }}
                <span class="inline-block my-4"><a href="{{ sponsor_url }}">{{ subtitle }}</a></span>
                {{ content }}
                </div>
            {{ /collection:sponsors }}
        </div>

        <h2>In-kind Sponsors</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            {{ collection:sponsors taxonomy:sponsor_level="in-kind" }}
                <div>
                    {{ logo }}
                    <a target="_blank" href="{{ sponsor_url }}"><img class="squiggle" src="{{ url }}" alt="{{ alt }}" /></a>
                    {{ /logo }}
                </div>
            {{ /collection:sponsors }}
        </div>
    
    </article>
</div>