<div class="max-w-5xl mx-auto relative mt-16 content">
    <article class="lg:py-32 max-w-2xl mx-auto">
        <h1>{{ title }}</h1>
        {{ logo }}
        <img class="float-left mr-16 mt-0" src="{{ url }}" alt="{{ alt }}">
        {{ /logo }}
        <div class="my-12 flex items-center justify-center">
            <div class="text-left">
                {{ content }}
            </div>
        </div>
        </header>

        <section class="max-w-3xl mx-auto py-6 lg:py-12 content">

            {{ description }}

        </section>

    </article>