<div class="max-w-5xl mx-auto relative mt-8">
    <article class="py-8 max-w-5xl mx-auto">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>

        {{ collection:news as="news" paginate="6" }}
        {{ if no_results }}
        <h2 class="text-3xl italic tracking-tight">No news found!</h2>
        {{ /if }}

        <div class="grid grid-cols-1 sm:grid-cols-3 max-w-5xl mx-auto relative border-green-200 border-y-4 py-8">
            {{ news }}
            <div class="mb-2 px-2">
                <a href="{{ url }}" class="text-lg underline tracking-tight leading-tight font-bold">
                    {{ if featured_image }}
                    {{ glide :src="featured_image" width="600" height="300" fit="crop"}}
                    <img class="mb-2" src="{{ url }}" width="{{ width }}" height="{{ height }}">
                    {{ /glide }}
                    {{ /if  }}
                    {{ title | widont }}
                </a>
            </div>
            {{ /news }}
        </div>

        {{ paginate }}
        <ul class="pagination">
            {{ if prev_page }}
                <li><a href="{{ prev_page }}">&laquo;</a></li>
            {{ else }}
                <li class="disabled"><span>&laquo;</span></li>
            {{ /if }}
    
            {{ links:segments }}
    
                {{ first }}
                    {{ if page == current_page }}
                        <li class="active"><span>{{ page }}</span></li>
                    {{ else }}
                        <li><a href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                {{ /first }}
    
                {{ if slider }}
                    <li class="disabled"><span>...</span></li>
                {{ /if }}
    
                {{ slider }}
                    {{ if page == current_page }}
                        <li class="active"><span>{{ page }}</span></li>
                    {{ else }}
                        <li><a href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                {{ /slider }}
    
                {{ if slider || (!slider && last) }}
                    <li class="disabled"><span>...</span></li>
                {{ /if }}
    
                {{ last }}
                    {{ if page == current_page }}
                        <li class="active"><span>{{ page }}</span></li>
                    {{ else }}
                        <li><a href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                {{ /last }}
    
            {{ /links:segments }}
    
            {{ if next_page }}
                <li><a href="{{ next_page }}">&raquo;</a></li>
            {{ else }}
                <li class="disabled"><span>&raquo;</span></li>
            {{ /if }}
        </ul>
        {{ /paginate }}


       {{ /collection:news }}
    </article>
</div>